<!DOCTYPE html>
<html lang="en">
  <head>
		 <title>DiviDeal</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		 <script
      src="https://kit.fontawesome.com/7f3903742b.js"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='apple-touch-icon.png')}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static',filename='favicon-32x32.png')}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename='favicon-16x16.png')}}">
<link rel="manifest" href="{{url_for('static',filename='site.webmanifest')}}">
	<style>
		body {font-family: "Times New Roman", Georgia, Serif;}
	h1, h2, h3, h5, h6 {
	  font-family: "Playfair Display";
	  letter-spacing: 5px;
}
a{
 text-decoration:none;}
</style>
  </head>
  <body>
    
<!-- Navbar (sit on top) -->
<div class="information">
    <div class="w3-top">
        <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
          <a href="{{ url_for('hello')}}" class="w3-bar-item w3-button w3-xxlarge"><span style="font-family: 'Monoton', cursive; color:#6a838b;">DiviDeal</span></a>
        </div>
      </div>
	 <div style="padding:20px; margin-top:110px;text-align:center">
         <h4>We're a group of 3 friends who worked together to create this "DiviDeal" project. 
		 We spent our time in writing the functionality, programming the logic, and designing a website to suit your needs.
		 Hope you find it interesting and useful. <br/>
		 Thank you.</h4>
    </div>
    <div class="grid body1">
      <div class="grid-item">
        <div class="card">
          <div class="card-content">
            <h1 class="card-header"><strong> Suchith Pannati </strong></h1>
            <p class="card-text">
			<br/>
			<i class="fas fa-envelope fa-lg"></i>
			<a href="mailto:suchith2eknath@gmail.com" class="w3-hover-text-blue">suchith2eknath@gmail.com</a>
			  <br/>
			  <i class="fab fa-linkedin-in fa-lg"></i>
			  <a href="https://www.linkedin.com/in/suchith-e-a055abaa/" target="_blank" class="w3-hover-text-blue">Linkedin profile</a>
			 
			  <br/>
			  <i class="fab fa-github fa-lg"></i>
			  <a href="https://github.com/suchith989" target="_blank" class="w3-hover-text-blue">Github</a>
			   
            </p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <div class="card-content">
            <h1 class="card-header"><strong>Sahaja Puligadda</strong></h1>
            <p class="card-text">
				<br/>
				<i class="fas fa-envelope fa-lg"></i>
				<a href="mailto:sahaja.2412@gmail.com" class="w3-hover-text-blue">sahaja.2412@gmail.com</a>
				<br/>
				  <i class="fab fa-linkedin-in fa-lg"></i>
				<a href="https://www.linkedin.com/in/sahaja-puligadda-6274281b9/" target="_blank" class="w3-hover-text-blue">Linkedin profile</a>
				 <br/>
				  <i class="fab fa-github fa-lg"></i>
				 <a href="https://github.com/SahajaPuligadda" target="_blank" class="w3-hover-text-blue">Github</a>
            </p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <div class="card-content">
            <h1 class="card-header"><strong> Karthik Kalavena </strong></h1>
            <p class="card-text">
				<br/>
				<i class="fas fa-envelope fa-lg"></i>
				<a href="mailto:kalavenakarthik@gmail.com" class="w3-hover-text-blue">kalavenakarthik@gmail.com</a>
				<br/>
				  <i class="fab fa-linkedin-in fa-lg"></i>
				<a href="https://www.linkedin.com/in/karthik-kalavena-9306731b5/" target="_blank" class="w3-hover-text-blue">Linkedin profile</a> 
			   <br/>
			    <i class="fab fa-github fa-lg"></i>
			   <a href="https://github.com/Karthik468/" target="_blank" class="w3-hover-text-blue">Github</a>
            </p>
          </div>
        </div>
      </div>
    </div>
	</div>
  </body>
</html>
