<div style="width: 80%; margin-left: auto; margin-right: auto;">
<img src="{{ url_for('static',filename='test.jpeg')}}" style="height:auto; width: 60%; display: block; margin-left: auto;margin-right: auto;" alt="website-icon" >
<h2 style="color: #5a747c;">Welcome onboard,</h2>
<hr>
<p style="color: #5a747c;">Start exploring DiviDeal, here is your pool-link: <a href="https://www.google.com/" class="w3-hover-text-green" style="color: #7ea8b4;">{{ plink }}</a>.</p>
<br>
<p style="color: #5a747c;">Send this to other participants who are part of this pool. It's as simple as that.</p>
<br>
<p style="color: #5a747c;"><strong>Keep exploring, keep smiling.</strong></p>
<hr>
<span style="color: #5a747c;">DiviDeal</span>
</div>